#!/bin/bash

# --------------------------------------------------------
# Create settings.cfg and updated your settings
# --------------------------------------------------------

# Settings
homedir=/u
workdir=/scripts
logfile=$workdir/tmp/change-permissions.run
finallogfile=$workdir/log/change-permissions-$(date +%Y%m%d)

